#rom-file-input {
	display: none;
}

.main-menu {
	display: flex;
	padding: 0.5rem;
}

.main-menu .main-menu-button {
	padding: 0.5rem 1rem;
	border: 1px solid grey;
	cursor: pointer;
	border-radius: calc(1rem / 3);
	margin: 0.5rem;
}

.main-menu .main-menu-button:hover {
	background-color: grey;
}
